#home {
  .bitcoin-logo {
    width: 100%;
  }

  h2 {
    color: white;
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0;
  }

  label {
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    color: #544cb9;
    margin-bottom: 20px;
  }

  input[type="text"] {
    background: transparent;
    color: white;
    width: 100%;
    display: block;
    padding: 10px 15px;
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 20px;
  }

  button.home--button {
    background: #304ffe;
    padding: 10px 15px;
    font-size: 1.5rem;
    font-weight: 300;
    border: none;
    float: right;
    border-radius: 3px;
    color: white;
  }
}
